
<!DOCTYPE html>
{% load static %}
<html lang="zxx">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="Orbitor,business,company,agency,modern,bootstrap4,tech,software">
  <meta name="author" content="themefisher.com">

  <title>médica- Health & Care Medical </title>

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />

  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
  <!-- Icon Font Css -->
  <link rel="stylesheet" href="{% static 'plugins/icofont/icofont.min.css' %}">
  <!-- Slick Slider  CSS -->
  <link rel="stylesheet" href="{% static 'plugins/slick-carousel/slick/slick.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/slick-carousel/slick/slick-theme.css' %}">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('#county optgroup').hide();
        $('#Department').change(function(){
            var text= $(this).val();
                $('#county optgroup').hide();
                $('#county').val('');
                $('#county optgroup[label="'+text+'"]').css({'display':'block'});

        });
    });
</script>

</head>

<body id="top">

<header>
	<div class="header-top-bar">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6">
					<ul class="top-bar-info list-inline-item pl-0 mb-0">
						<li class="list-inline-item"><a href="mailto:support@gmail.com"><i class="icofont-support-faq mr-2"></i>support@médica.com</a></li>
						<li class="list-inline-item"><i class="icofont-location-pin mr-2"></i>Address 11/-134/A,Medicity Road Vennala Ernakulam kerala 682028 INDIA </li>
					</ul>
				</div>
				<div class="col-lg-6">
					<div class="text-lg-right top-right-bar mt-2 mt-lg-0">
						<a href="https://wa.me/9847184691?text=Hello" >
							<span>Call Now : </span>
							<span class="h4">+919914503456</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<nav class="navbar navbar-expand-lg navigation" id="navbar">
		<div class="container">
		 	 <a class="navbar-brand" href="index.html">
			  	<img src="{% static 'images/mediac_logo.jpg' %}"  width="100px;" alt="" class="img-fluid">

			  </a>

		  	<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarmain" aria-controls="navbarmain" aria-expanded="false" aria-label="Toggle navigation">
			<span class="icofont-navigation-menu"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarmain">
			<ul class="navbar-nav ml-auto">
			  <li class="nav-item active">
				<a class="nav-link" href="{% url 'mainpage' %}">Home</a>
			  </li>
			   <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
			    <li class="nav-item"><a class="nav-link" href="{% url 'service' %}">Services</a></li>

			    <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="{% url 'department' %}" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Department <i class="icofont-thin-down"></i></a>
					<ul class="dropdown-menu" aria-labelledby="dropdown02">
						<li><a class="dropdown-item" href="{% url 'department' %}">Departments</a></li>

					</ul>
			  	</li>
				 <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>

			  	<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Doctors <i class="icofont-thin-down"></i></a>
					<ul class="dropdown-menu" aria-labelledby="dropdown03">
						<li><a class="dropdown-item" href="{% url 'doctor' %}">Doctors</a></li>
						{% if request.session.email %}
						<li><a class="dropdown-item" href="{% url 'appointmentpage' %}">Appoinment</a></li>
						{% else %}
						<li><a class="dropdown-item" href="{% url 'login' %}">Appoinment</a></li>
					{% endif %}
					</ul>
			  	</li>


				{% if request.session.email %}
				<a class="nav-link dropdown-toggle">{{request.session.email}}</a>
				{% for i in bro %}
					<li><a class="nav-link dropdown-toggle" href="{% url 'profile' pr=i.email %}"></a></li>
					{% endfor %}
			   <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="{% url 'logout' %}">logout</i></a>
				{% else %}
					<ul class="dropdown-menu" aria-labelledby="dropdown05">
<!--						<li><a class="dropdown-item" href="blog-sidebar.html">Blog with Sidebar</a></li>-->

<!--						<li><a class="dropdown-item" href="blog-single.html">Blog Single</a></li>-->
					</ul>
			  	</li>
				 <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">register</a></li>


				<li class="nav-item"><a class="nav-link" href="{% url 'login' %}">login</a></li>
				{% endif %}

			</ul>
		  </div>
		</div>
	</nav>
</header>


{% block content %}

<!-- Slider Start -->
<section class="banner">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12 col-xl-7">
				<div class="block">
					<div class="divider mb-3"></div>
					<span class="text-uppercase text-sm letter-spacing ">Total Health care solution</span>
					<h1 class="mb-3 mt-3">Your most trusted health partner</h1>

					<p class="mb-4 pr-5">Avail home collection through an easy  process. Visit our website and select the prescribed test. Choose the Home Appropriate option. Select the time and date,  pay after availing our service. Our collection agent will visit you and take a sample, while following all the necessary precautions. We will perform the required tests at our state-of-our-art lab. Once the results arrive, you can view or download your report online. </p>
					<div class="btn-container ">
							{% if request.session.email %}
						<a href="{% url 'appointmentpage'  %}" target="_blank" class="btn btn-main-2 btn-icon btn-round-full">Make appoinment <i class="icofont-simple-right ml-2  "></i></a>
							{% else %}
						<a href="{% url 'login'  %}" target="_blank" class="btn btn-main-2 btn-icon btn-round-full">Make appoinment <i class="icofont-simple-right ml-2  "></i></a>
						{% endif %}
					</div>



				</div>
			</div>
		</div>
	</div>
</section>
<section class="features">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="feature-block d-lg-flex">
					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
							<i class="icofont-surgeon-alt"></i>
						</div>
						<span>24 Hours Service</span>
						<h4 class="mb-3">Online Appoinment</h4>
						<p class="mb-4">Get All time support for emergency.We have introduced the principle of family medicine.</p>
						{% if  request.session.email %}
						<a href="{% url 'appointmentpage'  %}" class="btn btn-main btn-round-full">Make a appoinment</a>
						{% else %}
						<a href="{% url 'login'  %}" class="btn btn-main btn-round-full">Make a appoinment</a>
						{% endif %}

					</div>

					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
							<i class="icofont-ui-clock"></i>
						</div>
						<span>Timing schedule</span>
						<h4 class="mb-3">Working Hours</h4>
						<ul class="w-hours list-unstyled">
		                    <li class="d-flex justify-content-between">MON - FRI : <span>7:00 A.M - 7:00 P.M</span></li>
		                    <li class="d-flex justify-content-between">  SAT : <span>7:00 A.M - 5:00 P.M</span></li>
		                    <li class="d-flex justify-content-between">SUN : <span>8:00 A.M - 2:00 P.M</span></li>
		                </ul>
					</div>

					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
							<i class="icofont-support"></i>
						</div>
						<span>Emegency Cases</span>
						<h4 class="mb-3">+91-9199998880</h4>
						<p>Get All time support for emergency.We have introduced the principle of family medicine.Get Conneted with us for any urgency .</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="section about">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-4 col-sm-6">
				<div class="about-img">
					<img src="{% static 'images/about/img-1.jpg' %}" alt="" class="img-fluid">
					<img src="{% static 'images/about/img-2.jpg' %}" alt="" class="img-fluid mt-4">
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="about-img mt-4 mt-lg-0">
					<img src="{% static 'images/about/img-3.jpg' %}" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-4">
				<div class="about-content pl-4 mt-4 mt-lg-0">
					<h2 class="title-color">Personal care <br>& healthy living</h2>
					<p class="mt-4 mb-5">We provide best leading medicle services to Our client with Our Best médica team.</p>
			{% if request.session.email %}
					<a href="{% url 'service' %}" class="btn btn-main-2 btn-round-full btn-icon">Services<i class="icofont-simple-right ml-3"></i></a>
					{% else %}
					<a href="{% url 'login' %}" class="btn btn-main-2 btn-round-full btn-icon">Services<i class="icofont-simple-right ml-3"></i></a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>
<section class="cta-section ">
	<div class="container">
		<div class="cta position-relative">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="icofont-doctor"></i>
						<span class="h3">58</span>k
						<p>Happy People</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="icofont-flag"></i>
						<span class="h3">700</span>+
						<p>Surgery Comepleted</p>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="icofont-badge"></i>
						<span class="h3">40</span>+
						<p>Expert Doctors</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="icofont-globe"></i>
						<span class="h3">20</span>
						<p>Worldwide Branch</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section service gray-bg">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 text-center">
				<div class="section-title">
					<h2>Award winning patient care</h2>
					<div class="divider mx-auto my-4"></div>
					<p>High quality diagnostics are an imperative for better treatment and patient care. Apollo Hospitals Group, India’s leading healthcare system, has thus far been delivering 3.5 million high-quality diagnostic tests every year, through its Hospitals and Clinics earning an ‘excellent’ rating from 95% of its patients. médica is the result of the ‘good health for all’ mission that is spurring the Apollo Hospitals Group to touch a billion lives. </p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-laboratory text-lg"></i>
						<h4 class="mt-3 mb-3">Laboratory services</h4>
					</div>

					<div class="content">
						<p class="mb-4">Laboratory services can provide labs with a more efficient, more effective, and less expensive alternative to existing scientific lab processes. </p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-heart-beat-alt text-lg"></i>
						<h4 class="mt-3 mb-3">Heart Disease</h4>
					</div>
					<div class="content">
						<p class="mb-4">Heart disease describes a range of conditions that affect the heart.</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-tooth text-lg"></i>
						<h4 class="mt-3 mb-3">Dental Care</h4>
					</div>
					<div class="content">
						<p class="mb-4">A good dental care means regularly brushing and flossing your teeth, going for frequent dental check-ups, and consuming a healthy diet. </p>
					</div>
				</div>
			</div>


			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-crutch text-lg"></i>
						<h4 class="mt-3 mb-3">Body Surgery</h4>
					</div>

					<div class="content">
						<p class="mb-4">Body surgery, a branch of plastic surgery, focuses on improving the appearance and function of various areas of the body. </p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-brain-alt text-lg"></i>
						<h4 class="mt-3 mb-3">Neurosurgery </h4>
					</div>
					<div class="content">
						<p class="mb-4">Neurosurgery or neurological surgery, known in common parlance as brain surgery, is the medical specialty concerned with the surgical treatment of disorders which affect any portion of the nervous system including the brain, spinal cord and peripheral nervous system.</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-dna-alt-1 text-lg"></i>
						<h4 class="mt-3 mb-3">Gynecology</h4>
					</div>
					<div class="content">
						<p class="mb-4">is the area of medicine that involves the treatment of women's diseases, especially those of the reproductive organs. It is often paired with the field of obstetrics, forming the combined area of obstetrics and gynaecology (OB-GYN).</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section appoinment">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 ">
				<div class="appoinment-content">
					<img src="{% static 'images/about/img-3.jpg' %}" alt="" class="img-fluid">
					<div class="emergency">
						<h2 class="text-lg"><i class="icofont-phone-circle text-lg"></i>+919199998880</h2>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-10 ">
				<div class="appoinment-wrap mt-5 mt-lg-0">
					<h2 class="mb-2 title-color">Book appoinment</h2>
					<p class="mb-4">You can Book Your slot by the Following Form by submitting the required fileds and select the correct doctor appropriately.</p>
					      <form method="post" action="{% url 'saveappointment' %}">
				   {% csrf_token %}
                    <div class="row">
                         <div class="col-lg-6">
                            <div class="form-group">
                                 <select class="form-control" id="exampleFormControlSelect2" name="hos">
                                  <option>Choose Hospital</option>
									{% for d in data %}
                                  <option>{{d.hospitalname}}</option>
									{% endfor %}
                                </select>
                            </div>
                        </div>
                      <div class="col-lg-6">
                            <div class="form-group">
								<select id="Department" name="dept" class="form-control">
                <optgroup label="Department">
                    {% for i in pro %}
<option value="{{i.department}}" name="{{i.id}}">{{i.department}}</option>

                    {% endfor %}

                </optgroup>
             </select>


<!--                                <select class="form-control" id="exampleFormControlSelect1" name="dept">-->
<!--                                  <option>Choose Doctor</option>-->
<!--                                 {% for i in pro %}-->
<!--                                  <option>{{i.doctorname}}</option>-->
<!--									{% endfor %}-->
<!--                                </select>-->
                            </div>
                        </div>
						   <div class="col-lg-6">
                            <div class="form-group">
								  <select id="county" name="dctr" class="form-control">

           <optgroup label="physician">
                  <option value="Alex Joseph">Alex Joseph</option>
<!--			     <option value="roopak "> roopak</option>-->
			    <option value="Raghav Chandran "> Raghav Chandran</option>

       </optgroup>
									  <optgroup label="Urology">
                  <option value="Hrdik Pyal">Hrdik Pyal</option>

       </optgroup>
									    <optgroup label="ENT">
                  <option value="Jijo Jose">Jijo Jose</option>
											<option value="Noushad salim">Noushad salim</option>

       </optgroup>
									    <optgroup label="Obstetrics&gynaecology">
                  <option value="Sunitha raman">Sunitha raman</option>

       </optgroup>
									    <optgroup label="phylosapy">
                  <option value="rahul">rahul</option>

       </optgroup>
	<!--                                <select class="form-control" id="exampleFormControlSelect2" name="dctr">-->
	<!--
	                            <
                            </select>-->
								  </select>
                            </div>
                        </div>

                         <div class="col-lg-6">
                            <div class="form-group">
                                <input name="date" id="date" type="date" class="form-control" placeholder="" min="2023-08-23">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <input name="time" id="time" type="time" class="form-control" placeholder="Time">
                            </div>
                        </div>
                         <div class="col-lg-6">
                            <div class="form-group">
                                <input name="name" id="name" type="text" class="form-control" placeholder="Full Name">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <input name="phone" id="phone" type="Number" class="form-control" placeholder="Phone Number">
                            </div>
                        </div>
                    </div>
							   <div class="form-group">
                                <input name="email" id="phone" type="email"   class="form-control" placeholder="Email">
                            </div>
                    <div class="form-group-2 mb-4">
                        <textarea name="message" id="message" class="form-control" rows="6" placeholder="Your Message"></textarea>
                    </div>
		{% if request.session.email %}
                    <button class="btn btn-main btn-round-full" href="{% url 'appointmentpage'  %}" >Make Appoinment <i class="icofont-simple-right ml-2  "></i></button>
							  {% else %}
                    <button class="btn btn-main btn-round-full" href="{% url 'appointmentpage'  %}" >Make Appoinment <i class="icofont-simple-right ml-2  "></i></button>
               {% endif %}
                </form>
            </div>
			</div>
		</div>
	</div>
</section>
<section class="section testimonial-2 gray-bg">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7">
				<div class="section-title text-center">
					<h2>We served over 5000+ Patients</h2>
					<div class="divider mx-auto my-4"></div>
					<p>médica  has already earned for itself the reputation of being the most preferred, one-stop destination for all common to complex pathology tests. Initiatives such as ongoing skill development & enhancement programs for the teams, regular auditing of processes and implementing patient feedback, enable a seamless experience for all stakeholders of médica .</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-12 testimonial-wrap-2">
				<div class="testimonial-block style-2  gray-bg">
					<i class="icofont-quote-right"></i>

					<div class="testimonial-thumb">
						<img src="{% static 'images/team/Doctor Alex_doctor photo.jpeg' %}" alt="" class="img-fluid">
					</div>

					<div class="client-info ">
						<h4>Amazing service!</h4>
						<span>Dr.Alex Joseph</span>
						<p>
							They provide great service facilty to Clients médica offers can affordable by a common man.
						</p>
					</div>
				</div>

				<div class="testimonial-block style-2  gray-bg">
					<div class="testimonial-thumb">
						<img src="{% static 'images/team/drsunitha_doctorphotos.jpg' %}" alt="" class="img-fluid">
					</div>

					<div class="client-info">
						<h4>Expert doctors!</h4>
						<span>Dr.Sunitha</span>
						<p>
							The Doctors Available in médica are great experienced and well practiced.
						</p>
					</div>

					<i class="icofont-quote-right"></i>
				</div>

				<div class="testimonial-block style-2  gray-bg">
					<div class="testimonial-thumb">
						<img src="{% static 'images/team/Dr hardic_doctor photo.jpg' %}" alt="" class="img-fluid">
					</div>

					<div class="client-info">
						<h4>Good Support!</h4>
						<span>Dr.Hardik Payal </span>
						<p>
							The médica team support us for any emergency services.They will stand with us for any support from their end.
						</p>
					</div>

					<i class="icofont-quote-right"></i>
				</div>

				<div class="testimonial-block style-2  gray-bg">
					<div class="testimonial-thumb">
						<img src="{% static 'images/team/jijo_doctor photos.jpg' %}" alt="" class="img-fluid">
					</div>

					<div class="client-info">
						<h4>Nice Environment!</h4>
						<span>Dr.Jijo Jose</span>
						<p class="mt-4">
						The environment on médica is very nice. Anyone can work here freely and any patient can trust them easily.
						</p>
					</div>
					<i class="icofont-quote-right"></i>
				</div>

				<div class="testimonial-block style-2  gray-bg">
					<div class="testimonial-thumb">
						<img src="{% static 'images/team/dr ajay.jpeg' %}" alt="" class="img-fluid">
					</div>

					<div class="client-info">
						<h4>Modern Service!</h4>
						<span>Dr.Ajay Menon</span>
						<p>
							They provide modern improved  service facilty to their clients with good advanced technology and support.
						</p>
					</div>
					<i class="icofont-quote-right"></i>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section clients">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7">
				<div class="section-title text-center">
					<h2>Partners who support us</h2>
					<div class="divider mx-auto my-4"></div>
					<p>médica is always seeking out for partners, supporters with aligned business goals and ideas to bring about a meaningful change in healthcare. We invite people to experience and learn from our diverse network and know more about our expertise, knowledge and legacy that comes with years of customer trust and dependence. If you think you can join us and help us in our purpose of enabling healthier lives, then here’s your chance.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row clients-logo">
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="{% static 'images/about/1.png' %}" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="{% static 'images/about/2.png' %}" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="{% static 'images/about/3.png' %}" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="{% static 'images/about/4.png' %}" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="{% static 'images/about/5.png' %}" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="{% static 'images/about/6.png' %}" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="{% static 'images/about/3.png' %}" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="{% static 'images/about/4.png' %}" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="{% static 'images/about/5.png' %}" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="{% static 'images/about/6.png' %}" alt="" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
<!-- footer Start -->
<footer class="footer section gray-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 mr-auto col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<div class="logo mb-4">
						<img src="{% static 'images/mediac_logo.jpg' %}" width="100px;" alt="" class="img-fluid">
					</div>
					<p>Only Pathology reports available online. For X-Ray, Ultrasound, ECG, TMT, Echo, PFT, Uroflowmetry reports, please visit the concerned center where test has been conducted.


</p>

					<ul class="list-inline footer-socials mt-4">
						<li class="list-inline-item"><a href="#"><i class="icofont-facebook"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="icofont-twitter"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="icofont-linkedin"></i></a></li>
					</ul>
				</div>
			</div>

			<div class="col-lg-2 col-md-6 col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-3">Department</h4>
					<div class="divider mb-4"></div>
				{% for i in pro %}
					{% if forloop.counter <= 5 %}
					<ul class="list-unstyled footer-menu lh-35">
						<li><a href="#">{{i.department}} </a></li>
<!--						<li><a href="#">Wome's Health</a></li>-->
<!--						<li><a href="#">Radiology</a></li>-->
<!--						<li><a href="#">Cardioc</a></li>-->
<!--						<li><a href="#">Medicine</a></li>-->
						{% endif %}
					</ul>
					{% endfor %}
				</div>
			</div>

			<div class="col-lg-2 col-md-6 col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-3">Support</h4>
					<div class="divider mb-4"></div>

					<ul class="list-unstyled footer-menu lh-35">
						<li><a href="#">Terms & Conditions</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Company Support </a></li>
						<li><a href="#">FAQuestions</a></li>
						<li><a href="#">Company Licence</a></li>
					</ul>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="widget widget-contact mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-3">Get in Touch</h4>
					<div class="divider mb-4"></div>

					<div class="footer-contact-block mb-4">
						<div class="icon d-flex align-items-center">
							<i class="icofont-email mr-3"></i>
							<span class="h6 mb-0">Support Available for 24/7</span>
						</div>
						<h4 class="mt-2"><a href="tel:+23-345-67890">Supportmedica@gmail.com</a></h4>
					</div>

					<div class="footer-contact-block">
						<div class="icon d-flex align-items-center">
							<i class="icofont-support mr-3"></i>
							<span class="h6 mb-0">Mon to Sat : 08:30 A.M- 6:00 P.M</span>
						</div>
						<h4 class="mt-2"><a href="tel:+23-345-67890">+91-9199998880</a></h4>
					</div>
				</div>
			</div>
		</div>

		<div class="footer-btm py-4 mt-5">
			<div class="row align-items-center justify-content-between">
				<div class="col-lg-6">
					<div class="copyright">
						&copy; Copyright Reserved to <span class="text-color">médica.com</span>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="subscribe-form text-lg-right mt-5 mt-lg-0">
						<form action="#" class="subscribe">
							<input type="text" class="form-control" placeholder="Your Email address">
							<a href="#" class="btn btn-main-2 btn-round-full">Subscribe</a>
						</form>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4">
					<a class="backtop js-scroll-trigger" href="#top">
						<i class="icofont-long-arrow-up"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>



    <!--
    Essential Scripts
    =====================================-->


    <!-- Main jQuery -->
    <script src="{% static 'plugins/jquery/jquery.js' %}"></script>
    <!-- Bootstrap 4.3.2 -->
    <script src="{% static 'plugins/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/counterup/jquery.easing.js' %}"></script>
    <!-- Slick Slider -->
    <script src="{% static 'plugins/slick-carousel/slick/slick.min.js' %}"></script>
    <!-- Counterup -->
    <script src="{% static 'plugins/counterup/jquery.waypoints.min.js' %}"></script>

    <script src="{% static 'plugins/shuffle/shuffle.min.js' %}"></script>
    <script src="{% static 'plugins/counterup/jquery.counterup.min.js' %}"></script>
    <!-- Google Map -->
    <script src="{% static 'plugins/google-map/map.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>

    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/contact.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    {% if messages %}
        {% for i in messages %}
            {% if i.tags == 'warning' %}
                <script>
                 swal('{{i}}','','warning')
                </script>
            {% elif i.tags == 'error' %}
                <script>
                 swal('{{i}}','','error')
                </script>
            {% else %}
                <script>
                 swal('{{i}}','','success')
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}


  </body>
  </html>
