<!DOCTYPE html>
{% extends 'admindashboard.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="{% url 'savedoctor' %}"enctype="multipart/form-data">
    {% csrf_token %}
<h4>Add Doctors</h4>
                    <div class="mb-3">
                      <label  class="form-label">Category Name</label>
                      <select type="text" class="form-control" id="exampleInputPassword1" name="hos_name">
                          <option selected="">Choose..</option>
                             {% for i in data %}
                          <option>{{i.hospitalname}}</option>
                          {% endfor %}
                      </select>

                    </div>
    <div class="mb-3">
                      <label  class="form-label">Doctor Name</label>
                      <input type="text" class="form-control" id="exampleInputPassword1" name="doc_name">
                    </div>
    <div class="mb-3">
                      <label  class="form-label">Department</label>
                      <input type="text" class="form-control" id="exampleInputPassword1" name="dept">
                    </div>
    <div class="mb-3">
                      <label  class="form-label">contact number</label>
                      <input type="text" class="form-control" id="exampleInputPassword1" name="con_no">
                    </div>
    <div class="mb-3">
                      <label  class="form-label">Email</label>
                      <input type="email" class="form-control" id="exampleInputPassword1" name="Email">
                    </div>
     <div class="mb-3">
                      <label  class="form-label">Description</label>
         <textarea class="form-control" id="exampleInputPassword1" name="dis"></textarea>
                    </div>
    <div class="mb-3">
                      <label  class="form-label">Doctor Photo</label>
                      <input type="file" class="form-control" id="exampleInputPassword1" name="image">
                    </div>
     <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>

</form>
</body>
</html>
{% endblock %}