<!DOCTYPE html>
{% extends 'admindashboard.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="{% url 'savegallery' %}"enctype="multipart/form-data">
    {% csrf_token %}
<div class="mb-3">
                      <label  class="form-label">Photo short Name</label>
                      <input type="text" class="form-control" id="exampleInputPassword1" name="mname">
                    </div>


    <div class="mb-3">
                      <label  class="form-label">Description  </label>
        <textarea class="form-control" id="exampleInputPassword1" name="descri"></textarea>

                    </div>
    <div class="mb-3">
                      <label  class="form-label"> Photo</label>
                      <input type="file" class="form-control" id="exampleInputPassword1" name="mphoto">
                    </div>
     <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>
{% endblock %}